<html>
    <head>
        <title>Watch Debt Accumulate in Realtime</title>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
    </head>
    <body>
        <div id="stock-table">
            <form action="./stocks" method="GET">
                <input id="ticker" type="text" name="stock" placeholder="Add a stock to the watchlist"/>
                <button id="request_stock" type="submit">Add Stonk</button>
            </form>
            <ul>
                <li>Stock 1</li>
                <li>Stock 1</li>
                <li>Stock 1</li>
            </ul>
        </div>

        <div id="like_button_container">
            <button>test</button>
        </div>

        <!-- Load React. -->
            <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
            <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
            <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

            <!-- Load our React component. -->
            <script src="like_button.js"></script>
    </body>
</html>