<html>
    <head>
        <title>Watch Debt Accumulate in Realtime</title>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
    </head>
    <body>
        <div id="stock-table">
            <form action="./stocks" method="GET">
                <input id="ticker" type="text" name="stock" placeholder="Add a stock to the watchlist"/>
                <button type="submit">Add Stonk</button>
            </form>
            <ul>
                <li>Stock 1</li>
                <li>Stock 1</li>
                <li>Stock 1</li>
            </ul>
        </div>
    </body>
</html>