
.App-header {
  background-color: #282c34;
  background-position-y: 100%;
  background-position-x: center;
  background-size: cover;
  background: rgb(23,196,182);
  background: linear-gradient(90deg, rgba(23,196,182,1) 0%, rgba(21,168,155,1) 50%, rgba(11,108,100,1) 100%);
  min-height: 40vh;
  display: flex;
  position: relative;
}

.Header-text-title{
  font-size: calc(25px + 2vmin);
  font-family: Roboto;
  font-weight: 550;
  color: white;
  position:absolute;
  bottom: 50%;
  right: 15%;
}

.Header-text-date{
  font-size: calc(13px + 2vmin);
  font-family: Roboto;
  color: white;
  position:absolute;
  bottom: 0%;
  left: 3%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');