
.App-header {
  background-color: #282c34;
  background-position-y: 70%;
  background-position-x: center;
  background-size: cover;
  /* background-image: url(./7c67a2074bdd4c4d9e568418b1c77b291cfe9d34.jpg); */
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Header-text-title{
  font-size: calc(25px + 2vmin);
  font-family: Roboto;
  font-weight: 550;
  color: white;
  position:absolute;
  bottom: 10%;
  left: 3%;
}

.Header-text-date{
  font-size: calc(13px + 2vmin);
  font-family: Roboto;
  color: white;
  position:absolute;
  bottom: 0%;
  left: 3%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');