.App {
  text-align:left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-position-y: 70%;
  background-position-x: center;
  background-size: cover;
  background-image: url(./7c67a2074bdd4c4d9e568418b1c77b291cfe9d34.jpg);
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  font-family: Roboto;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-main-body{
  background-color: #282b2c;
  padding: 100px;
  
}

input[type="text"]{
  width: 70%;
  padding: 20px;
  background:#181c22;
  border: 0;
  float: center;
  font-size: 20px;
  color: #989898;
}

button{
  padding: 20px;
  width: 20%;
  float: right;
  background: #23282e;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

#stock-items{
  position: relative;
  width: 95%;
  background: #090d13;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
